.home-container {
    text-align: center;
    padding: 40px 20px;
    color: #bfaf8f;
    background-color: #1e1a2d;
    min-height: 100vh; /* <-- Esto hace que siempre llene al menos toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center; /* opcional: centra verticalmente el contenido */
}

.home-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.home-cards {
    display: flex;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}

.home-card {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 16px;
    max-width: 280px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.home-card-image {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.home-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #bfaf8f;
    color: #1e1a2d;
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;
}

.home-button:hover {
    background: #8678a5 ;
}